body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid black;
    width: 480px;
    height: 480px;
    
}
.square {
    width: 60px;
    height: 60px;
}
.black {
    background-color: #769656;
}
.white {
    background-color: #eeeed2;
}